body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}
.image-box img {
  width: 1000px;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}

.arrow_nav {
  display: flex;
  justify-content: space-between;
  padding: 65px 30px 0px 30px;
  font-size: 45px;
}

.arrow_nav_1,
.arrow_nav_2 {
  padding-top: 80px;
}

.arrow_nav_1:hover,
.arrow_nav_2:hover {
  cursor: pointer;
  font-size: 55px;
  transition: 0.2s;
}

.dot_nav{
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
}

li {
  color: #95a5a6;
}

li:hover {
  cursor: pointer;
  font-size: 42px;
  color: #7f8c8d;
  transition: 0.2s;
}


img {
  width: 300px;
  height: 300px;
}